@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

* {
    transition: all 0.3 ease-in-out;
}
body {
    font-family: "Gruppo", sans-serif;
    font-style: normal;
    background-color: yellow;
    padding: 1% 10%;
    user-select: none;
}
.generatedNumber {
    font-size: 60px;
    height: 60px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: "Gruppo", sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-bottom: 5px solid lightgray;
    border-radius: 50px;

    &:active {
        border: none;
    }
}
.instruction {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

input {
    font-family: "Gruppo", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    width: 100px;
    color: black;
    outline: none;
}

.helpBtn {
    font-size: medium;
    text-align: right;
    cursor: pointer;
    padding: 10px 13px;
    border: none;
}
.help {
    user-select: text;
    display: none;  
    position: absolute;
    left: 30%;
    width: max-content;
    height: 50vh;
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
    background-color: #cccc00;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #808000;

    @media (max-width: 720px) {
        width: 80%;
        height: 60vh;
        left: 4%;
    }

    p {
        margin: 1%;
        font-size: 20px;
        border-bottom: 1px solid black;
        padding-bottom: 13px;

        &:last-child {
            border: none;
            padding: 0;
        }
    }
}

.start {
    display: none;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    video {
        width: 500px;
        height: auto;
        margin-top: 50px;
        border-radius: 10px;
        
        @media (max-width: 720px) {
            width: 450px;
        }
    }
}
